.home {
  display: flex;

  .homeContainer {
    flex: 6;

    .widgets,
    .charts {
      display: flex;
      padding: 20px;
      gap: 20px;
    }
   
    .addexpense{
      
     display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex: 4;
    padding: 10px;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    border-radius: 10px;
    height: 100px;
        h1{
          font-size: 18px;
          font-weight: 300;
        color: gray;
        }
        .icon {
          margin-top: 15px;
          margin-left: 33px;
          font-size: 30px;
          padding: 5px;
          border-radius: 5px;
          
        }
        .inputdetails{
      display: flex;
      justify-content: space-between;
      .second,.first{
        display: flex;
        flex-direction: column;
        margin-right: 70px;
      }
              #category,#amount,#desc,#Date{
                    border: none;
                    outline: none;
                    border-bottom: 1.5px solid rgb(170, 35, 35);
                    margin-bottom: 7px;
      }
      .button{
        background-color: rgb(10, 10, 9);
        margin-top: 30px;
        border-radius: 6px;
        outline: none;
        color: aliceblue;
        width: 90px;
        height: 40px;
      }
        }
    }
    .charts {
      padding: 5px 20px;
    }

    .listContainer {
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      padding: 20px;
      margin: 20px;

      .listTitle {
        font-weight: 500;
        color: gray;
        margin-bottom: 15px;
      }
    }
  }
}
